html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(14,6,147);
    background: linear-gradient(90deg, rgba(14,6,147,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0;
    color: white;
    
}

.header{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.header h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.imgContainer{
    width: 75%;
    display: flex;
    align-content: center;
    align-items: center;
    /* position: relative; */
    margin: 0;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10%;
}
.img{
    width: 100%;
}
.wayPoint{
    height: 20px;   
    width: 20px;
    background: red;
    border: 1px solid white;
    border-radius: 25px;
    box-sizing: border-box;
    /* display: inline-block; */
    position: absolute;
}

.textContainer{
    width: 50%;
    background: white;
    color: black;
    height: 25%;
    /* position: relative; */
    display: none;
}
.modal{
    display: block;
    position: relative;
}